<div class="background-image-home">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-input">

        <img src="/assets/img/logo.png" class="logo-image"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto part-left">
                <li class="nav-item-left">
                    <a class="nav-link active" href="home.handlebars">Home
                        <span class="sr-only">(current)</span>   
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="item-list.handlebars"> Item List </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="#"> Sell your's</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/items/search"> 
                <ul class="navbar-nav mr-auto part-right">
                    <li class="nav-item-right"> 
                        <!--Added form to collect search term-->
                        <form action="/items/search" class="search-form">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search for an item" aria-label="Search">
                            <input type="submit" value="search">
                            <!--<button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2 navbar-btn" type="submit">Search</button>-->
                        </form>
                    </li>
                    <li class="nav-item-right">
                        <a href="#" class= "noticifation-btn"><i class="far fa-bell notification-icone"></i></a>
                    </li>
                    <li class="nav-item-right">
                        <a href="/logout" class="log-out-btn"> <i class="fas fa-power-off icone-logout">  </i>      
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </nav> <!--navbar-->


    

        <!--mainpage-->
    <div class="container mt-4">
                   <!--profile part-->
                <div class="profile-div">
                <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card mb-3 card-area" >
                         <div class="card-body show">
                             <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                        
                                        <h3> hello !</h3>

                                        <p>Welcome {{firstname}} {{lastname}}</p>
                                                                
                                </div>
                            </div>
                         </div>
                    </div>
                     </div>
                </div>
                </div>

                <!--this is the div that we have for area part we can show and hide it -->
        <div class="area-div"id="area-list">
        <div class="row mt-4">
            <div class="col-md-12"> 
                     <!--card for space area -->
                <div class="card mb-3 card-area" >
                        {{!-- <div class="card-header">Your spaces</div> --}}
                            <div class="card-body show">
                                <div class="row">
                                    <div class="col-md-12">
                                    <ul class=" button-list">

                                        <li class="button-list-item area-btn">
                                            <a href="#" type="button" data-toggle="modal" data-target="#area-modal" class="btn">
                                                <i class="fas fa-plus icone-spaces"></i>
                                                {{!-- <img src="assets/img/signe-1923369_1920.png" alt="plus-sign" class="img-thumbnail img-area"> --}}
                                                <br>
                                                <span class="title-area">add more areas</span>
                                            </a>
                                            
                                        </li>
                                        <li class="button-list-item area-btn">
                                            <a href="#kitchen-storag" type="button"  data-list="#kitchen-storage" class="btn toggle" >
                                                <img src="assets/img/kitchen1.jpg" alt="kitchen-area" class="img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">kitchen</span>
                                            </a>
                                            
                                        </li>
                                        <li class="button-list-item area-btn">
                                            <a href="#livinroom-storage" type="button"  data-list="#livinroom-storage" class="btn toggle">
                                                <img src="assets/img/livingroom1.jpg" alt="livingroom" class=" img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">livingroom</span>
                                            </a>
                                            
                                        </li>
                                        <li class="button-list-item area-btn">
                                            <a href="#bedroom-storage" type="button"  data-list="#bedroom-storage" class="btn toggle">
                                                <img src="assets/img/bedroom1.jpg" alt="bedroom-area" class="img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">bedroom</span>
                                            </a>
                                           
                                        </li>
                                        <li class="button-list-item area-btn">
                                            <a href="#bathroom-storage" type="button"  data-list="#bathroom-storage" class="btn toggle">
                                                <img src="assets/img/bathroom2.jpg" alt="bedroom-area" class="img-thumbnail img-area">
                                                <br>
                                            <span class="title-area">bathroom</span>
                                            </a>

                                        </li>

                                    </ul>

                                    </div> 

                                </div>
                            </div>
                        <!--card for space area -->
                </div>
                       
            </div>
             <!--col-12-->
        </div>
        <!-- closing the row  -->
        <div class="row mt-4  area-section">
            <div class="col-md-12">
                <div class="card mb-3 card-area" >
                    <div class="card-header">Your Areas</div>
                    <div class="card-body area-append area-display"> </div>
                </div>
            </div>
        </div>

        </div>

                <!--this is the div that we have for storages in kitchen part we can show and hide it -->
        <div class=" storage-div storage-kitchen d-none"   id="kitchen-storage">
        <div class="row mt-4">
            <div class="col-md-12"> 
                     <!--card for storages in kitchen -->
                <div class="card mb-3 card-area" >
                        {{!-- <div class="card-header">Your spaces</div> --}}
                            <div class="card-body show">
                                <div class="row">
                                    <div class="col-md-12">
                                    <ul class=" button-list">

                                        <li class="button-list-item">
                                            <a href="#area-list" type="submit" data-toggle="modal" data-target="#new-storages" class="btn">
                                                <i class="fas fa-plus icone-spaces"></i>
                                                {{!-- <img src="assets/img/signe-1923369_1920.png" alt="plus-sign" class="img-thumbnail img-area"> --}}
                                                <br>
                                                <span class="title-area">add more storages</span>
                                            </a>
            
                                            
                                        </li>
                                        <li class="button-list-item storage-btn">
                                                    <a type="submit" id="pantry-button" href="#" class="btn">
                                                        <img src="assets/img/pantry.jpg" alt="pantry" class="img-thumbnail img-area">
                                                    <br>
                                                    <span class="title-area">pantry</span>
                                                    </a>
                                        </li>
                                        <li class="button-list-item storage-btn">
                                            <a href="#" type="submit" data-toggle="modal" data-target="#modal-livingroom"class="btn">
                                                <img src="assets/img/cabinet.jpg" alt="cabinet" class=" img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">cabinet</span>
                                            </a>
                                            
                                        </li>

                                    </ul>

                                    </div> 

                                </div>
                            </div>
                        <!--card for space area -->
                </div>
                       
            </div>
             <!--col-12-->
        </div>
        <!-- closing the row  -->
        <div class="row mt-4 d-block d-none ">
            <div class="col-md-12">
                <div class="card mb-3 card-area" >
                    <div class="card-header">Your KItchen</div>
                    <div class="card-body kitchen-display" id = "storage-append">
                    </div>
                </div>
            </div>
        </div>

        </div>
                <!--this is the div that we have for storages in bed room part we can show and hide it -->
        <div class=" storage-div storage-bedroom  d-none"   id="bedroom-storage">
        <div class="row mt-4">
            <div class="col-md-12"> 
                     <!--card for storages in kitchen -->
                <div class="card mb-3 card-area" >
                        {{!-- <div class="card-header">Your spaces</div> --}}
                            <div class="card-body show">
                                <div class="row">
                                    <div class="col-md-12">
                                    <ul class=" button-list">

                                        <li class="button-list-item">
                                            <a href="#area-list" type="submit" data-toggle="modal" data-target="#new-storages" class="btn">
                                                <i class="fas fa-plus icone-spaces"></i>
                                                {{!-- <img src="assets/img/signe-1923369_1920.png" alt="plus-sign" class="img-thumbnail img-area"> --}}
                                                <br>
                                                <span class="title-area">add more storages</span>
                                            </a>
            
                                            
                                        </li>
                                        <li class="button-list-item storage-btn">
                                                    <a type="submit" id="pantry-button" href="#" class="btn">
                                                         <img src="assets/img/closet2.jpg" alt="closet" class=" img-thumbnail img-area">
                                                    <br>
                                                    <span class="title-area">walking closet</span>
                                                    </a>
                                        </li>
                                        <li class="button-list-item storage-btn">
                                            <a href="#" type="submit" data-toggle="modal" data-target="#modal-livingroom"class="btn">
                                                <img src="assets/img/drawer.jpg" alt="drawer" class=" img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">Drawer</span>
                                            </a>
                                            
                                        </li>

                                    </ul>

                                    </div> 

                                </div>
                            </div>
                        <!--card for space area -->
                </div>
                       
            </div>
             <!--col-12-->
        </div>
        <!-- closing the row  -->
        <div class="row mt-4 d-block d-none">
            <div class="col-md-12">
                <div class="card mb-3 card-area" >
                    <div class="card-header">Your Bedroom</div>
                    <div class="card-body bedroom-display" id = "storage-append">
                    </div>
                </div>
            </div>
        </div>

        </div>

                <!--this is the div that we have for storages in living room part we can show and hide it -->
        <div class=" storage-div  storage-livingroom d-none"   id="livinroom-storage">
        <div class="row mt-4">
            <div class="col-md-12"> 
                     <!--card for storages in kitchen -->
                <div class="card mb-3 card-area" >
                        {{!-- <div class="card-header">Your spaces</div> --}}
                            <div class="card-body show">
                                <div class="row">
                                    <div class="col-md-12">
                                    <ul class=" button-list">

                                        <li class="button-list-item">
                                            <a href="#area-list" type="submit" data-toggle="modal" data-target="#new-storages" class="btn">
                                                <i class="fas fa-plus icone-spaces"></i>
                                                {{!-- <img src="assets/img/signe-1923369_1920.png" alt="plus-sign" class="img-thumbnail img-area"> --}}
                                                <br>
                                                <span class="title-area">add more storages</span>
                                            </a>
            
                                            
                                        </li>
                                        <li class="button-list-item storage-btn">
                                                    <a type="submit" id="living room-button" href="#" class="btn">
                                                         <img src="assets/img/shelf.jpg" alt="shelfs" class="img-thumbnail img-area">
                                                        <br>
                                                        <span class="title-area">shelfs</span>
                                                    </a>
                                        </li>

                                        <li class="button-list-item storage-btn">
                                            <a href="#" type="submit" data-toggle="modal" data-target="#modal-livingroom"class="btn">
                                                <img src="assets/img/drawer1.jpg" alt="drawer" class=" img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">Drawer</span>
                                            </a>
                                            
                                        </li>

                                        <li class="button-list-item storage-btn">
                                            <a href="#" type="submit" data-toggle="modal" data-target="#modal-livingroom"class="btn">
                                                <img src="assets/img/tvstand.jpg" alt="tv-stand" class=" img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">tv-stand</span>
                                            </a>
                                            
                                        </li>

                                    </ul>

                                    </div> 

                                </div>
                            </div>
                        <!--card for space area -->
                </div>
                       
            </div>
             <!--col-12-->
        </div>
        <!-- closing the row  -->
        <div class="row mt-4 d-block d-none">
            <div class="col-md-12">
                <div class="card mb-3 card-area" >
                    <div class="card-header">Your living room</div>
                    <div class="card-body livingroom-display" id = "storage-append">
                    </div>
                </div>
            </div>
        </div>

        </div>

        
                <!--this is the div that we have for storages in bath room part we can show and hide it -->
        <div class=" storage-div storage-bathroom  d-none"   id="bathroom-storage">
        <div class="row mt-4">
            <div class="col-md-12"> 
                     <!--card for storages in kitchen -->
                <div class="card mb-3 card-area" >
                        {{!-- <div class="card-header">Your spaces</div> --}}
                            <div class="card-body show">
                                <div class="row">
                                    <div class="col-md-12">
                                    <ul class=" button-list">

                                        <li class="button-list-item">
                                            <a href="#area-list" type="submit" data-toggle="modal" data-target="#new-storages" class="btn">
                                                <i class="fas fa-plus icone-spaces"></i>
                                                <br>
                                                <span class="title-area">add more storages</span>
                                            </a>
            
                                            
                                        </li>
                                        <li class="button-list-item storage-btn">
                                                    <a type="submit" id="living room-button" href="#" class="btn">
                                                        <img src="assets/img/laundry-room.jpg" alt="laundry" class="img-thumbnail img-area">
                                                        <br>
                                                        <span class="title-area">laundry shelfs</span>
                                                    </a>
                                        </li>

                                        <li class="button-list-item storage-btn">
                                            <a href="#" type="submit" data-toggle="modal" data-target="#modal-livingroom"class="btn">
                                                <img src="assets/img/bathroomcabinet.jpg" alt="bathroom-cabinet" class=" img-thumbnail img-area">
                                                <br>
                                                <span class="title-area">cabinet</span>
                                            </a>
                                            
                                        </li>



                                    </ul>

                                    </div> 

                                </div>
                            </div>
                        <!--card for space area -->
                </div>
                       
            </div>
             <!--col-12-->
        </div>
        <!-- closing the row  -->
        <div class="row mt-4 d-block d-none ">
            <div class="col-md-12">
                <div class="card mb-3 card-area" >
                    <div class="card-header">Your bathroom</div>
                    <div class="card-body bathroom-display" id = "storage-append">
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>
           
           <!-- modal is start here --->
    
        <!-- modals for spaces part-->
    <div class="modal fade " id="area-modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signin-brand">Org Spaces</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body area-part">
                    <h1>Areas</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody class = "area">
                                <tr id="form-row">
                                    <form class="area-form">
                                        <td colspan="4">
                                            <input placeholder="Enter a name" id="area-input" type="text" />
                                        </td>
                                        <td>
                                            <button type="submit" class="btn  modals-button">Create Area</button>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
    </div>
            

            <!-- modals for storage part-->


    <div class="modal fade " id="new-storages" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signin-brand">Org Spaces</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body storage-part">
                    <h1>Storage</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody id = "storage-append">
                                <tr id="form-row-storage">
                                    <form class="storage-form">
                                        <td colspan="4">
                                            <input placeholder="Enter a name" id="storage-input" type="text" />
                                        </td>
                                        <td><button type="submit" class="btn modals-button" id ="createStorageBtn">Create Storage</button>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
    </div>
        
        
        <!-- closing the col related to spaces -->
        

    <!-- closing the container -->
      

    <!-- Footer -->
<footer class="page-footer font-small footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-4">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/kibell/My-Spaces"> orgnized spaces</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>