<div class="background-image-home">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-input">

        <img src="/assets/img/logo.png" class="logo-image"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto part-left">
                <li class="nav-item-left">
                    <a class="nav-link active" href="home.handlebars">Home
                        <span class="sr-only">(current)</span>   
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="item-list.handlebars"> Item List </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="#"> Sell your's</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto part-right">
                    <li class="nav-item-right"> 
                        <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2 navbar-btn" type="submit">Search</button>
                    </li>
                    <li class="nav-item-right">
                        <a href="#" class= "noticifation-btn"><i class="far fa-bell notification-icone"></i></a>
                    </li>
                    <li class="nav-item-right">
                        <a href="/logout" class="log-out-btn"> <i class="fas fa-power-off icone-logout">  </i>      
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </nav> <!--navbar-->

    

        <!--mainpage-->
    <div class="container mt-4">
        
        <div class="row mt-4">
                    <br>
                <!--profile part-->
            <div class="col-md-4"> 
                <div class="card card-profile" >
                    <div class="card-header">Your profile</div>
                    <div class="card-body">

                        <div class='row'>

                            <div class='col-lg-4 col-sm-2'></div>
                                
                            <div class='col-lg-4 col-sm-8'>
                                <div class="profile-userpic">
                                    <i class="fas fa-user" id="user-icone"></i> 
                                </div>
                            </div>
                            <div class='col-lg-4 col-sm-2'></div>
                                
                        </div>

                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    
                                    <h3>Profile Information</h3>

                                    
                                    <p>Welcome {{firstname}} {{lastname}}</p>
                                                            
                                </div>
                            </div>
                            <div class="profile-usermenu"></div>
                    </div>
                </div>     
            </div> <!--profile part-->
                    


             <!--spaces part-->
             <!--col-8-->
            <div class="col-md-8"> 
                     <!--card for space area -->
                <div class="card mb-3 card-area" >
                        <div class="card-header">Your spaces</div>
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <a href="#" type="submit"  data-toggle="modal" data-target="#area-modal"><i class="fas fa-plus icone-spaces"></i></a>
                                                 <br>
                                                <div class="area-container">
                            
                                                <span class="title-area">Add Areas</span>
                                                
                                                    <table class="table table-striped">
                                                                    
                                                        <tbody>
                                                            <tr id="form-row-main">
                                                                <form class="area-form">
                                                                    <td colspan="4">
                                                                    
                                                                </form>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--card for space area -->
                </div>
                        <!--col-8-->
            </div>
        <!-- modals for spaces part-->
    <div class="modal fade " id="area-modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signin-brand">Org Spaces</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body area-part">
                    <h1>Areas</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="form-row">
                                    <form class="area-form">
                                        <td colspan="4">
                                            <input placeholder="Enter a name" id="area-input" type="text" />
                                        </td>
                                        <td>
                                            <button type="submit" class="btn  modals-button-spaces">Create Area</button>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
    </div>
            

            <!-- modals for storage part-->


    <div class="modal fade " id="new-storages" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signin-brand">Org Spaces</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body storage-part">
                    <h1>Storage</h1>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="form-row-storage">
                                    <form class="storage-form">
                                        <td colspan="4">
                                            <input placeholder="Enter a name" id="storage-input" type="text" />
                                        </td>
                                        <td><button type="submit" class="btn modals-button-spaces">Create Storage</button>
                                        </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
    </div>
        
        
        <!-- closing the col related to spaces -->
        
    
  </div>
        <!-- closing the row  -->

    </div>

    <!-- closing the container -->
      

    <!-- Footer -->
<footer class="page-footer font-small footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-4">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/kibell/My-Spaces"> orgnized spaces</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>







    