
       <div class="login-body">
            <header class="header">
                <div class="text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary-main">org spaces</span>
                        <span class="heading-primary-sub">is where you can find your items</span>
                    </h1>
                    <a href="#login" class="btn btn-white"> Create Your Account</a>
                </div>
            </header> 
        </div>

 
