<!--Home office-->
<ol data-draggable="target">
  <li data-draggable="item">Batteries </li>
  <li data-draggable="item">Toolbox</li>
  <li data-draggable="item">Wire</li>
  <li data-draggable="item">Amazon returns</li>
</ol>
<!--Medical-->
<ol data-draggable="target">
  <li data-draggable="item">Medicines</li>
  <li data-draggable="item">Humidifier</li>
  <li data-draggable="item">Air purifier</li>
</ol>
<!--Kitchen-->
<ol data-draggable="target">
  <li data-draggable="item">Recipe Books </li>
  <li data-draggable="item">Can opener</li>
</ol>
<!--Utilities/Cleaning supplies -->
<ol data-draggable="target">
  <li data-draggable="item">Vacuum cleaner  </li>
</ol>
