<!--Navbar to keep page consisten with other pages of the app-->

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-input">

        <img src="/assets/img/logo.png" class="logo-image"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto part-left">
                <li class="nav-item-left">
                    <a class="nav-link active" href="#">Home
                        <span class="sr-only">(current)</span>   
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="#"> Item List </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="#"> Sell your's</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto part-right">
                    <li class="nav-item-right">
                        <a href="#" class= "noticifation-btn"><i class="far fa-bell notification-icone"></i></a>
                    </li>
                    {{!-- <li class="nav-item-right"> 
                        <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2 navbar-btn" type="submit">Search</button>
                    </li> --}}
                    <li class="nav-item-right">
                        <a href="#" class="log-out-btn"> <i class="fas fa-power-off icone-logout">  </i>      
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>






<!--Home office-->
<ol data-draggable="target">
  <li data-draggable="item">Batteries </li>
  <li data-draggable="item">Toolbox</li>
  <li data-draggable="item">Wire</li>
  <li data-draggable="item">Amazon returns</li>
</ol>
<!--Medical-->
<ol data-draggable="target">
  <li data-draggable="item">Medicines</li>
  <li data-draggable="item">Humidifier</li>
  <li data-draggable="item">Air purifier</li>
</ol>
<!--Kitchen-->
<ol data-draggable="target">
  <li data-draggable="item">Recipe Books </li>
  <li data-draggable="item">Can opener</li>
</ol>
<!--Utilities/Cleaning supplies -->
<ol data-draggable="target">
  <li data-draggable="item">Vacuum cleaner  </li>
</ol>

