
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-input">

        <img src="/assets/img/logo.png" class="logo-image"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="sr-only">(current)</span>   
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Item List </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Sell your's</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2 navbar-btn" type="submit">Search</button>

                <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2 navbar-btn" type="submit"
                    id="log-out-button">Log Out</button>
            </form>
        </div>
    </nav>