
/*color for layout*/
/* #506E98 */
/* #2D4D78 */
/* #14335D */
/* #051D3F */
/* #7A92B3 */

* {
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

html, body {
    margin: 0;
}

.background-image-home {
    min-height: 100vh;
    background-image:linear-gradient(to right bottom, rgba(122, 146, 179, 0.774),rgba(20, 50, 93, 0.774)) , url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;    
} 

.logo-image{
    height: 60px;
} 

.nav-item-left {

    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    margin-bottom: -11px;
    color:  #506E98 ;
}

.nav-item-right {

    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    margin-bottom: -11px;
    color:  #506E98 ;
}

.notification-icone {
    font-size: 30px;
}

.icone-logout {
    font-size: 30px;
}

.container {
 height: 100% !important;
}

/*profile*/
.profile-sidebar {
    float: left;
    width: 300px;
    margin-right: 20px
}

.profile-content {
    overflow: hidden
}

.profile-sidebar-portlet {
    padding: 30px 0 0!important
}

#user-icone {
    font-size: 100px;
    text-align: center;
    color: #7A92B3;
}
.icone-spaces {
    font-size: 100px;
    text-align: center;
    color: #7A92B3;
    padding: 8px;
    margin: 10px 10px 10px 45px;

}



.profile-userpic {
    float: none;
    margin: 0 auto;
    width: 26%;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}


.profile-userbuttons {
    text-align: center;
    margin-top: 10px
}

.profile-userbuttons .btn {
    margin-right: 5px
}

.profile-userbuttons .btn:last-child {
    margin-right: 0
}

.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding: 6px 15px
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px
}

.profile-usermenu span {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    margin-bottom: -11px;
    color:  #506E98 ;
}

 .img-area {
    float: none;
    margin: 0 auto;
    width: 84%;
    height: 84%;
    margin: 10px 10px 10px 10px;
    border-radius: 50%!important
} 

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center
    }

/* card */
.card-header {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:  #506E98 ;
    
}

.card-profile {
  animation:  moveInLeft 2s ease-out ; 
}

.card-area {
    animation:  moveInLeft 2s ease-out ; 
}

.title-area {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-left: 42px ; 
    padding: 5px;
    color:  #506E98 ;
}


    /* animation */

@keyframes moveInLeft {
        0%{
         opacity: 0;
         transform: translateX(-100px);
        }
        80%{
           transform: translateX(10px);
        }
        100%{
         opacity: 1;
         transform: translate(0);
        }
}

@keyframes moveModal {
        0%{
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform: rotateY(-70deg);
            -moz-transform: rotateY(-70deg);
            -ms-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0;
      
        }

        100%{

            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
            opacity: 1;

        }
}

       /* modals */

.md-effect-8 {
    perspective: 600px;
    animation:  moveModal 0.5s ease-out ;     
}

.modal-dialog {
        width: 900px;
}

.md-content {
    background-color: #506E98 ;
}

       /* footer */

.footer {
    background-color: #7A92B3 ;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
} 

    /* log in page  */

.login-body {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
        color : #777;
        padding: 30px
}

.header {
    height: 95vh;
    background-image:linear-gradient(to right bottom, rgba(122, 146, 179, 0.658),rgba(20, 50, 93, 0.658)) , url(../img/6.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.heading-primary {
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary-main {
    margin-bottom: 4px;
    display: block;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 2; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 17.4px;
   animation: moveInRight 2s ease-out;
   margin-bottom: 60px;
}

.text-box {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

@keyframes moveInLeft {
    0%{
    opacity: 0;
    transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
    opacity: 1;
    transform: translate(0);
    }
}


@keyframes moveInRight {
    0%{
     opacity: 0;
     transform: translateX(100px);
    }
    80%{
       transform: translateX(-10px);
    }
    100%{
     opacity: 1;
     transform: translate(0);
    }
}
   
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
       transform: translateY(-3px);
       box-shadow: 0 10px 80px rgba(0, 0, 0, .2);
}

.btn:active {
       transform: translateY(-1px);
       box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
}

.btn-white {
       background-color: #fff;
       color: #777;
}

/* resigter  */

.register-background {
    height: 95vh;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    margin: 15px 30px 15px 30px;

}

.register-form-card {
    height: 500px;
    width: 350px;
    position: absolute;
    top:51%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
 }

 #boldFont {
    font-weight: bolder;
  }

 
 .register-container {
     height: 100% !important;
 }
 
 #button-signup {
     background-color: #7A92B3;
     color: #fff;
     border-radius: 100px;
 }
 
 #modal-button-login {
     background-color: #7A92B3;
     color:white;
     border-radius: 100px;
 }







       /* log in page  */
.login-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color : #777;
    padding: 30px
}
.header {
height: 95vh;
background-image:linear-gradient(to right bottom, rgba(122, 146, 179, 0.658),rgba(20, 50, 93, 0.658)) , url(../img/6.jpg);
background-size: cover;
background-position: top;
clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
position: relative;
}
.heading-primary {
color:#fff;
text-transform: uppercase;
backface-visibility: hidden;
}
.heading-primary-main {
margin-bottom: 4px;
display: block;
font-size: 45px;
font-weight: 400;
letter-spacing: 35px;
animation-name: moveInLeft;
animation-duration: 2s;
animation-timing-function: ease-out;
/* animation-delay: 2s; */
/* animation-iteration-count: 2; */
}
.heading-primary-sub {
display: block;
font-size: 20px;
font-weight: 600;
letter-spacing: 17.4px;
animation: moveInRight 2s ease-out;
margin-bottom: 60px;
}
.text-box {
position: absolute;
top:40%;
left:50%;
transform: translate(-50%,-50%);
text-align: center;
}
@keyframes moveInLeft {
0%{
opacity: 0;
transform: translateX(-100px);
}
80%{
    transform: translateX(10px);
}
100%{
opacity: 1;
transform: translate(0);
}
}
@keyframes moveInRight {
0%{
 opacity: 0;
 transform: translateX(100px);
}
80%{
   transform: translateX(-10px);
}
100%{
 opacity: 1;
 transform: translate(0);
}
}
.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
}
.btn:hover {
   transform: translateY(-3px);
   box-shadow: 0 10px 80px rgba(0, 0, 0, .2);
}
.btn:active {
   transform: translateY(-1px);
   box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
}
.btn-white {
   background-color: #fff;
   color: #777;
}
/* resigter  */
.register-background {
height: 100vh;
background-image: url(../img/3.jpg);
background-size: cover;
position: relative;
margin: 15px 30px 15px 30px;
}
.register-form-card {
height: 500px;
width: 350px;
position: absolute;
top:51%;
left:50%;
transform: translate(-50%,-50%);
background-color: transparent;
}
.register-container {
height: 100% !important;
}




